@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  background-color: #050508 !important;
}

html, body, #root {
  background-color: #050508 !important;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    background-color: #050508 !important;
  }
}